In [320]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [321]:
df = pd.read_csv('file(3).csv')

In [322]:
df.shape

(10302, 25)

In [323]:
df.head(10)

,ID,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,GENDER,...,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG
0,63581743,0,60.0,0,11.0,"$67,349",No,$0,z_No,M,...,11,Minivan,yes,"$4,461",2,No,3,$0,18.0,0
1,132761049,0,43.0,0,11.0,"$91,449",No,"$257,252",z_No,M,...,1,Minivan,yes,$0,0,No,0,$0,1.0,0
2,921317019,0,48.0,0,11.0,"$52,881",No,$0,z_No,M,...,1,Van,yes,$0,0,No,2,$0,10.0,0
3,727598473,0,35.0,1,10.0,"$16,039",No,"$124,191",Yes,z_F,...,4,z_SUV,no,"$38,690",2,No,3,$0,10.0,0
4,450221861,0,51.0,0,14.0,NaN,No,"$306,251",Yes,M,...,7,Minivan,yes,$0,0,No,0,$0,6.0,0
5,743146596,0,50.0,0,NaN,"$114,986",No,"$243,925",Yes,z_F,...,1,z_SUV,no,"$19,217",2,Yes,3,$0,17.0,0
6,871024631,0,34.0,1,12.0,"$125,301",Yes,$0,z_No,z_F,...,1,Sports Car,no,$0,0,No,0,"$2,946",7.0,1
7,792300541,0,54.0,0,NaN,"$18,755",No,NaN,Yes,z_F,...,1,z_SUV,no,$0,0,No,0,$0,1.0,0
8,7945239,1,40.0,1,11.0,"$50,815",Yes,$0,z_No,M,...,6,Minivan,no,"$3,295",1,No,2,"$6,477",1.0,1
9,3577610,0,44.0,2,12.0,"$43,486",Yes,$0,z_No,z_F,...,10,z_SUV,no,$0,0,No,0,$0,10.0,0

In [324]:
df.isna().sum()

ID              0
KIDSDRIV        0
AGE             7
HOMEKIDS        0
YOJ           548
INCOME        570
PARENT1         0
HOME_VAL      575
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    665
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       639
CLAIM_FLAG      0
dtype: int64

In [325]:
df.dropna(axis = 'index' , how = 'any' , inplace = True)
df.drop(df[['KIDSDRIV' , 'AGE' , 'HOMEKIDS' , 'YOJ' , 'PARENT1' ,'CLM_AMT', 'HOME_VAL' , 'MSTATUS'
            , 'GENDER' , 'EDUCATION' , 'TIF' , 'RED_CAR']], axis =1 , inplace = True)

In [326]:
X = df.iloc[: ,1:-1 ]
Y = df.iloc[: , -1]

In [327]:
dummie1 = pd.get_dummies(df['OCCUPATION'])
dummie2 = pd.get_dummies(df['CAR_USE'])
dummie3 = pd.get_dummies(df['CAR_TYPE'])

In [328]:
dummies = [dummie1 , dummie2 , dummie3]

In [329]:
X.drop(['OCCUPATION', 'CAR_USE' , 'CAR_TYPE']  ,axis = 1, inplace = True)

In [330]:
X = pd.concat([X , dummie1] , axis = 1)
X = pd.concat([X , dummie2] , axis = 1)
X = pd.concat([X , dummie3] , axis = 1)

In [331]:
X['INCOME'] = X['INCOME'].str.replace('$' , '')
X['INCOME'] = X['INCOME'].str.replace(',' , '')
X['INCOME'] = X['INCOME'].astype(int)
X['BLUEBOOK'] = X['BLUEBOOK'].str.replace('$' , '')
X['BLUEBOOK'] = X['BLUEBOOK'].str.replace(',' , '')
X['BLUEBOOK'] = X['BLUEBOOK'].astype(int)
X['OLDCLAIM'] = X['OLDCLAIM'].str.replace('$' , '')
X['OLDCLAIM'] = X['OLDCLAIM'].str.replace(',' , '')
X['OLDCLAIM'] = X['OLDCLAIM'].astype(int)
#X['CLM_AMT'] = X['CLM_AMT'].str.replace('$' , '')
#X['CLM_AMT'] = X['CLM_AMT'].str.replace(',' , '')
#X['CLM_AMT'] = X['CLM_AMT'].astype(int)

In [332]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix , classification_report , accuracy_score

In [333]:
labelencoder = LabelEncoder()
onehotencoder = OneHotEncoder()
log_reg = LogisticRegression()

In [334]:
X['REVOKED'] = labelencoder.fit_transform(X['REVOKED'])

In [344]:
X.shape
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [345]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size = 0.9)

In [346]:
log_reg.fit(X_train , Y_train)

LogisticRegression()

In [347]:
predictions = log_reg.predict(X_test)

In [348]:
print(classification_report(Y_test , predictions))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85      5033
           1       0.60      0.28      0.39      1859

    accuracy                           0.76      6892
   macro avg       0.69      0.61      0.62      6892
weighted avg       0.73      0.76      0.72      6892

In [349]:
confusion_matrix(Y_test , predictions)

array([[4688,  345],
       [1333,  526]], dtype=int64)

In [350]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

dtc.fit(X_train, Y_train)
preds = dtc.predict(X_test)

score = dtc.score(X_test, Y_test)
print(score)
print()
print(classification_report(Y_test, preds))

0.6497388276262334

              precision    recall  f1-score   support

           0       0.76      0.75      0.76      5033
           1       0.36      0.37      0.37      1859

    accuracy                           0.65      6892
   macro avg       0.56      0.56      0.56      6892
weighted avg       0.66      0.65      0.65      6892

In [355]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 1)
rfc.fit(X_train, Y_train)
preds = rfc.predict(X_test)

score = rfc.score(X_test, Y_test)
print(score*100)
print()
print(classification_report(Y_test, preds))

74.52118398142774

              precision    recall  f1-score   support

           0       0.77      0.93      0.84      5033
           1       0.57      0.24      0.34      1859

    accuracy                           0.75      6892
   macro avg       0.67      0.59      0.59      6892
weighted avg       0.71      0.75      0.71      6892

In [359]:
degrees = [2,3,4,5,6,7,8]
kernels = ['poly', 'rbf', 'sigmoid']
c_value = [1,2,3]
scores = {}
for degree in degrees:
    for kernel in kernels:
        for c in c_value:
            svc_t = SVC(kernel = kernel, degree = degree, C = c)
            svc_t.fit(X_train, Y_train)
            
            preds = svc_t.predict(X_test)
            score = svc_t.score(X_test,Y_test)
#             print('Score with degree as {d}, kernel as {k}, C as {c} is:'.format(d = degree, k = kernel, c = c), score)
            scores['Score with degree as {d}, kernel as {k}, C as {c} is best'.format(d = degree, k = kernel, c = c)] = score

print(max(scores, key=scores.get))
svc_tuned = SVC(kernel='sigmoid', degree = 2, C = 3)
svc_tuned.fit(X_train, Y_train)

preds = svc_tuned.predict(X_test)

print('Score:' , svc_tuned.score(X_test, Y_test))
print('Classification report:', classification_report(Y_test, preds))

Score with degree as 2, kernel as rbf, C as 1 is best
Score: 0.7066163668020894
Classification report:               precision    recall  f1-score   support

           0       0.77      0.86      0.81      5033
           1       0.44      0.30      0.36      1859

    accuracy                           0.71      6892
   macro avg       0.60      0.58      0.58      6892
weighted avg       0.68      0.71      0.69      6892