In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_excel('sampled 3.xlsx')

In [4]:
df.shape

(5366, 25)

In [5]:
df.head(10)

,ID,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,GENDER,...,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG
0,871024631,0,34.0,1,12.0,"$125,301",Yes,$0,z_No,z_F,...,1,Sports Car,no,$0,0,No,0,"$2,946",7.0,1
1,7945239,1,40.0,1,11.0,"$50,815",Yes,$0,z_No,M,...,6,Minivan,no,"$3,295",1,No,2,"$6,477",1.0,1
2,892208080,1,37.0,2,NaN,"$107,961",No,"$333,680",Yes,M,...,1,Van,yes,"$2,374",1,Yes,10,"$4,021",7.0,1
3,77382913,0,34.0,0,10.0,"$62,978",No,$0,z_No,z_F,...,1,z_SUV,no,$0,0,No,0,"$2,501",1.0,1
4,308455362,0,53.0,0,14.0,"$77,100",No,$0,z_No,z_F,...,1,Sports Car,no,$0,0,No,0,"$6,077",11.0,1
5,665591504,0,53.0,0,11.0,"$130,795",No,$0,z_No,M,...,6,Panel Truck,yes,$0,0,No,3,"$1,267",10.0,1
6,588888550,0,45.0,0,0.0,$0,No,"$106,859",Yes,z_F,...,1,z_SUV,no,$0,0,No,3,"$2,920",5.0,1
7,162166370,0,59.0,0,12.0,"$87,460",No,$0,z_No,M,...,1,Minivan,yes,"$44,857",2,No,4,"$4,111",1.0,1
8,235358484,0,28.0,1,13.0,"$44,077",No,"$170,598",Yes,z_F,...,6,z_SUV,no,"$8,935",2,No,0,"$6,857",1.0,1
9,528040687,0,43.0,0,13.0,"$37,214",No,NaN,Yes,M,...,1,Panel Truck,yes,$0,0,No,3,"$3,627",1.0,1

In [6]:
df.isna().sum()

ID              0
KIDSDRIV        0
AGE             6
HOMEKIDS        0
YOJ           308
INCOME        283
PARENT1         0
HOME_VAL      320
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    356
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       355
CLAIM_FLAG      0
dtype: int64

In [7]:
df.dropna(axis = 'index' , how = 'any' , inplace = True)
df.drop(df[['KIDSDRIV' , 'AGE' , 'HOMEKIDS' , 'YOJ' , 'PARENT1' ,'CLM_AMT', 'HOME_VAL' , 'MSTATUS'
            , 'GENDER' , 'EDUCATION' , 'TIF' , 'RED_CAR']], axis =1 , inplace = True)

In [8]:
X = df.iloc[: ,1:-1 ]
Y = df.iloc[: , -1]

In [9]:
dummie1 = pd.get_dummies(df['OCCUPATION'])
dummie2 = pd.get_dummies(df['CAR_USE'])
dummie3 = pd.get_dummies(df['CAR_TYPE'])

In [10]:
dummies = [dummie1 , dummie2 , dummie3]

In [11]:
X.drop(['OCCUPATION', 'CAR_USE' , 'CAR_TYPE']  ,axis = 1, inplace = True)

In [12]:
X = pd.concat([X , dummie1] , axis = 1)
X = pd.concat([X , dummie2] , axis = 1)
X = pd.concat([X , dummie3] , axis = 1)

In [13]:
X['INCOME'] = X['INCOME'].str.replace('$' , '')
X['INCOME'] = X['INCOME'].str.replace(',' , '')
X['INCOME'] = X['INCOME'].astype(int)
X['BLUEBOOK'] = X['BLUEBOOK'].str.replace('$' , '')
X['BLUEBOOK'] = X['BLUEBOOK'].str.replace(',' , '')
X['BLUEBOOK'] = X['BLUEBOOK'].astype(int)
X['OLDCLAIM'] = X['OLDCLAIM'].str.replace('$' , '')
X['OLDCLAIM'] = X['OLDCLAIM'].str.replace(',' , '')
X['OLDCLAIM'] = X['OLDCLAIM'].astype(int)
#X['CLM_AMT'] = X['CLM_AMT'].str.replace('$' , '')
#X['CLM_AMT'] = X['CLM_AMT'].str.replace(',' , '')
#X['CLM_AMT'] = X['CLM_AMT'].astype(int)

In [14]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix , classification_report , accuracy_score

In [15]:
labelencoder = LabelEncoder()
onehotencoder = OneHotEncoder()
log_reg = LogisticRegression()

In [16]:
X['REVOKED'] = labelencoder.fit_transform(X['REVOKED'])

In [17]:
X.shape
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [18]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size = 0.9)

In [19]:
log_reg.fit(X_train , Y_train)

LogisticRegression()

In [20]:
predictions = log_reg.predict(X_test)

In [21]:
print(classification_report(Y_test , predictions))

              precision    recall  f1-score   support

           0       0.63      0.65      0.64      1686
           1       0.67      0.65      0.66      1863

    accuracy                           0.65      3549
   macro avg       0.65      0.65      0.65      3549
weighted avg       0.65      0.65      0.65      3549

In [22]:
confusion_matrix(Y_test , predictions)

array([[1096,  590],
       [ 657, 1206]], dtype=int64)

In [23]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

dtc.fit(X_train, Y_train)
preds = dtc.predict(X_test)

score = dtc.score(X_test, Y_test)
print(score)
print()
print(classification_report(Y_test, preds))

0.5621301775147929

              precision    recall  f1-score   support

           0       0.54      0.56      0.55      1686
           1       0.59      0.56      0.57      1863

    accuracy                           0.56      3549
   macro avg       0.56      0.56      0.56      3549
weighted avg       0.56      0.56      0.56      3549

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 1)
rfc.fit(X_train, Y_train)
preds = rfc.predict(X_test)

score = rfc.score(X_test, Y_test)
print(score*100)
print()
print(classification_report(Y_test, preds))

64.75063398140321

              precision    recall  f1-score   support

           0       0.61      0.71      0.66      1686
           1       0.69      0.59      0.64      1863

    accuracy                           0.65      3549
   macro avg       0.65      0.65      0.65      3549
weighted avg       0.65      0.65      0.65      3549

In [25]:
degrees = [2,3,4,5,6,7,8]
kernels = ['poly', 'rbf', 'sigmoid']
c_value = [1,2,3]
scores = {}
for degree in degrees:
    for kernel in kernels:
        for c in c_value:
            svc_t = SVC(kernel = kernel, degree = degree, C = c)
            svc_t.fit(X_train, Y_train)
            
            preds = svc_t.predict(X_test)
            score = svc_t.score(X_test,Y_test)
#             print('Score with degree as {d}, kernel as {k}, C as {c} is:'.format(d = degree, k = kernel, c = c), score)
            scores['Score with degree as {d}, kernel as {k}, C as {c} is best'.format(d = degree, k = kernel, c = c)] = score

print(max(scores, key=scores.get))
svc_tuned = SVC(kernel='sigmoid', degree = 2, C = 3)
svc_tuned.fit(X_train, Y_train)

preds = svc_tuned.predict(X_test)

print('Score:' , svc_tuned.score(X_test, Y_test))
print('Classification report:', classification_report(Y_test, preds))

Score with degree as 2, kernel as rbf, C as 1 is best
Score: 0.6221470836855453
Classification report:               precision    recall  f1-score   support

           0       0.60      0.60      0.60      1686
           1       0.64      0.64      0.64      1863

    accuracy                           0.62      3549
   macro avg       0.62      0.62      0.62      3549
weighted avg       0.62      0.62      0.62      3549